{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="border p-4 d-flex flex-column gap-4">
    <h2 style="display: flex; justify-content: center; align-items: center; color: dodgerblue">{% translate 'Password reset' %}</h2>
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field }}
        {% if field.help_text %}
        <small class="form-text text-muted pt-1 pb-2">{{ field.help_text|safe }}</small>
        {% endif %}
        <small class="form-text">{{ field.errors }}</small>
      </div>
      {% endfor %}
      {% if error %}
      {% endif %}
      <div style="display: flex; justify-content: center; width: 100%">
        <button type="submit" class="btn btn-primary ">{% translate 'Recover Password' %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}